<html>

<head>
    <title>A todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background-color: <%= bodycolor %> ">
    <nav class="navbar navbar-expand-lg navbar-dark para" style="background-color: <%= collor %>">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">T O D O</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            List Names
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% for(let k=0;k<todoo.length;k++){ %>
                                <li><a class="dropdown-item" href="/neww/<%= todoo[k].titlee %>">
                                        <%= todoo[k].titlee %>
                                    </a></li><br>
                                <%}%>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Set Default Page
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% for(let l=0;l<todoo.length;l++){ %>
                                <li><a class="dropdown-item" href="/default/<%= todoo[l].titlee %>">
                                        <%= todoo[l].titlee %>
                                    </a></li><br>
                                <%}%>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Delete List
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% for(let k=0;k<todoo.length;k++){ %>
                                <li><a class="dropdown-item" href="/delete/<%= todoo[k].titlee %>">
                                        <%= todoo[k].titlee %>
                                    </a></li><br>
                                <%}%>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/neww">New List</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" href="/theme">Themes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
